<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sistema de Asistencia Duoc</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding-vertical">
  <ion-card class="ion-text-center ion-padding-vertical">
    <ion-card-title class="ion-text-center">
      <ion-label>
        <h2>Respuesta invalida</h2>
        <img src="../../../assets/img/Mal.jpg" alt="malo" class="foto"/>
      </ion-label>
    </ion-card-title>

    <ion-item>
      <ion-button class="ion-text-center" shape="block" (click)="volver()">Volver a Inicio de Sesión</ion-button>
    </ion-item>
  
</ion-card>

  

</ion-content>

